@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">About</h1>
    <p style="font-size: 2.5vw;">This website uses TMDB and the TMDB APIs but is not endorsed, certified, or otherwise approved by TMDB.</p>
</div>
