/*              Made By: Ryan Hanson
       ____      ______   _   _   _       ____      
 ______\ \ \     | ___ \ | | | | | |     / / /______ 
 \______\ \ \    | |_/ / | | | |_| |    / / /______/
   ______\ \ \   |    /  | | |  _  |   / / /______
   \______\ \ \  | |\ \  | | | | | |  / / /______/
           \_\_\ \_| \_| | | \_| |_/ /_/_/          
                         | |                        
                         \/                        */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Russo+One&display=swap');


.line {
    height: 4px;
    background-color: #000000;
    border: none;
}

.bg-grey {
    background-color: #3d3d3d;
}

.hint {
    font-size: 12px;
}

.planetPic {
    font-family: 'Roboto Mono', monospace, sans-serif;
    border: 6px double #000000;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    color: #000000;
    background-color: #91ecff;
    background-image: linear-gradient(to bottom, #FFFFFF, #91ecff);
}


.code-font {
    font-family: 'Roboto Mono', monospace, sans-serif;
}

.calcBtn {
    font-family: 'Roboto Mono', monospace, sans-serif;
    background-color: #91ecff;
    background-image: linear-gradient(to bottom, #FFFFFF, #91ecff); 
}
.calcBtn:hover {
    background-color: #6b6b6b;
    background-image: linear-gradient(to bottom, #FFFFFF, #6b6b6b); 
}

.resetBtn {
    font-family: 'Roboto Mono', monospace, sans-serif;
    background-color: #91ecff;
    background-image: linear-gradient(to bottom, #FFFFFF, #91ecff); 
}
.resetBtn:hover {
    background-color: #6b6b6b;
    background-image: linear-gradient(to bottom, #FFFFFF, #6b6b6b); 
}

.aboutSection{
    border: 6px double #000000;
    width: 400px;
    margin: auto;
    color: #000000;
    background-color: #91ecff;
    background-image: linear-gradient(to bottom, #FFFFFF, #91ecff);
}

.exploredHistory {
    border: 6px double #000000;
    min-width: 400px;
    max-width: 500px;
    margin: auto;
    color: #000000;
    background-color: #91ecff;
    background-image: linear-gradient(to bottom, #FFFFFF, #91ecff);
}

#space-font {
    font-family: 'Russo One', arial, sans-serif;
}

#wrapper {
    font-family: 'Russo One', arial, sans-serif;
    background-color: #91ecff;
    background-image: linear-gradient(to bottom, #FFFFFF, #91ecff);
    top: 0;
}