@model DbProject.Web.Models.UserSubscription

@{
    ViewData["Title"] = "Create";
}

<h1>Add</h1>

<h4>Subscription to Your Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubscriptionId" class="control-label"></label>
                <select asp-for="SubscriptionId" class="control-label">
                @foreach (Subscription sub in DbProject.Web.Models.Repository.Subscriptions){
                    <option value="@sub.Id">@sub.SubscriptionTier</option> }
                <option asp-for="SubscriptionId" class="form-control" />
                </select>
                <span asp-validation-for="SubscriptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="background-color: #8458B3; border: #8458B3"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="UserSubs" asp-action="Index">Go Back</a>
</div>

