@model HW3Project.Models.StudentResponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Success!</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body class="text-center p-2">
        <div>
            <h1 class="bg-danger text-white text-center m-2 p-2">@Model?.SuccessName()</h1>
        </div>
        <h2 class="text-center m-2 p-2">Click <a asp-action="Schedule">here</a> to see your schedule.</h2>
        <h2 class="text-center m-2 p-2">Or, Click <a asp-action="Index">here</a> to add more assignments.</h2>
    </body>
</html>