@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 accent-text shadow-text">Welcome to Doughnut Dreams & Brewed Beans!</h1>
</div>

<div class="text-center">
    <img src="~/coffee_doughnut.png" alt="doughnut and coffee cup" class="img-fluid">
</div>
