@model DbProject.Web.Models.UserTotalStat

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserTotalStat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSubYearlyCost" class="control-label"></label>
                <input asp-for="TotalSubYearlyCost" class="form-control" />
                <span asp-validation-for="TotalSubYearlyCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllSubRunningTotal" class="control-label"></label>
                <input asp-for="AllSubRunningTotal" class="form-control" />
                <span asp-validation-for="AllSubRunningTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

