@model ColorInterpolation
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Color Interpolator</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/site.css" />
    </head>
    <body class="bg-dark">
        <nav class="navbar sticky-top navbar-expand-md py-0">
            <div class="container-fluid" id="wrapper">
                <div>
                    <ul class="navbar-nav ms-auto">
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "Homework 4", "Index", "Home", null, new { style = "text-decoration: none; color: red; text-shadow: -1px 1px 0 #000; "} )</li>
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "RGB Color", "RGBColor", "Home", null, new {style = "text-decoration: none; color: red; text-shadow: -1px 1px 0 #000; "} )</li>
                        <li class="h5 nav-item p-1 px-3">@Html.ActionLink( "Color Interpolator", "Create", "ColorInterpolator", null, new {style = "text-decoration: none; color: red; text-shadow: -1px 1px 0 #000; "} )</li>
                    </ul>
                </div>
            </div>
        </nav>
        <p class="h2 text-center text-white p-3">Interpolate from one color to another</p>
        <p class="h5 text-center text-white p-2">Please enter colors in HTML hexadecimal format: #AABBCC</p>
        <section class="p-2">
            <div class="container">
                <div class="grid">
                    <div class="row mt-2 justify-content-center">
                        <div class="col-md-5">
                            <div class="card my-2 bg-secondary">
                                <div class="card-body">
                                    <form asp-controller="ColorInterpolator" asp-action="Create" method="post" class="m-2">
                                        <div asp-validation-summary="All"></div>
                                        <div class="form-group p-3">
                                            <label asp-for="FirstColor" class="form-label h5 fw-bold text-white shadow-title">First Color:</label>
                                            <input asp-for="FirstColor" class="form-control" />
                                        </div>
                                        <div class="form-group p-3">
                                            <label asp-for="LastColor" class="form-label h5 fw-bold text-white shadow-title">Last Color:</label>
                                            <input asp-for="LastColor" class="form-control" />
                                        </div>
                                        <div class="form-group p-3">
                                            <label asp-for="Number" class="form-label h5 fw-bold text-white shadow-title">Number of Colors:</label>
                                            <input asp-for="Number" class="form-control" />
                                        </div>                                        
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-danger mt-3">Generate Colors</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card my-2 bg-secondary">
                                <div class="card-body">
                                    <p class="h4 card-title fw-bold text-white text-center shadow-title">HTML:</p>
                                        @if (ViewData.ModelState.IsValid){
                                            @foreach (string r in ColorInterpolation.Colors) {
                                                <p class="h3 text-center text-white shadow-title p-2">@r <span style="color: @r;">--></span></p>
                                        }
                                    }
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card my-2 bg-secondary">
                                <div class="card-body">
                                    <p class="h4 card-title fw-bold text-white text-center shadow-title">Color:</p>
                                    @if (ViewData.ModelState.IsValid){
                                        @foreach (string r in ColorInterpolation.Colors) {
                                            <div style="background-color: @r; height: 57px; width: auto;"></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>