@model HW3Project.Models.StudentResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Student Organization Planner</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <h5 class="bg-danger text-white text-center m-2 p-2">Student Planner</h5>
        <form asp-action="Index" method="post" class="m-2">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="ClassName" class="form-label">Class Name:</label>
                <input asp-for="ClassName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AssignmentName" class="form-label">Assignment Name:</label>
                <input asp-for="AssignmentName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Day" class="form-label">Day you plan to work on assignment:</label>
                <select asp-for="Day" class="form-control">
                    <option value="">Choose an option</option>
                    <option value="Sun">Sunday</option>
                    <option value="Mon">Monday</option>
                    <option value="Tues">Tuesday</option>
                    <option value="Weds">Wednesday</option>
                    <option value="Thurs">Thursday</option>
                    <option value="Fri">Friday</option>
                    <option value="Sat">Saturday</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="form-label">Due Date of Assignment:</label>
                <input asp-for="DueDate" class="form-control" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-danger mt-3">Submit Assignment to your Schedule</button>
            </div>
        </form>
    </body>
</html>
