@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div>
        <h1>Welcome</h1>
        <hr/>
        <p></p>
        <h3>Sign in to start managing your subscriptions!</h3>
        <hr/>
        <p></p>
        <p> 
            <h5>Add a subscription to manage <a class="nav-link" asp-area="" asp-controller="UserSubs" asp-action="Index" style="color:#FFF; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Here</a></h5>
        </p>
        <hr />
        <p></p>
        <p>Created by: Ryan Hanson, Emily Webb, and Jose Angulo</p>
    </div>
</body>